!!!
%html{:lang => "en"}
	
	%head

		{{> head }}
		
		%title {{ site.title }}

		{{# if site.title }}
		%meta{:property => 'og:title', :content => '{{ site.title }}'}
		{{/ if }}
		{{# if site.og_description }}
		%meta{:property => 'og:description', :content => "{{ site.og_description }}"}
		{{/ if }}
		{{# if site.og_image }}
		%meta{:property => 'og:image', :content => '{{ site.og_image }}'}
		{{/ if }}
	%body.home.page

		#page
			
			{{> header }}

			.welcome-message
				{{{ contents }}}	

			.projects
				{{# each collections.projects }}
				{{> project_thumbnail this }}
				{{/ each }}			

			{{> footer }}

			{{# if site.postscript }}
			.postscript
				{{ markdown site.postscript }}
			{{/ if }}

			{{# if site.global_scripts }}
			{{{ site.global_scripts }}}
			{{/ if }}

		{{> scripts }}
